<div class="footer">
  &copy; CCI Connections.
  &nbsp;&nbsp;&nbsp;<a href="/about"> About</a>
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;<a href="/contact">Contact</a>

  <i class="footerIcons fa fa-facebook-f"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>

</div>
