<div class="header">


  <a href="/">
    <img id="image1" src="../../assets/images/image4.jpg" alt="brand image placeholder" />Niner Connections
  </a>

    <span class="signInPlaceholder">
      <a href="/newConnection">Start New Connection</a>
      <a href="/signIn">Login</a>
      <a href="/signUp">SignUp</a>
      <a href="/signOut">SignOut</a>
      
    </span>
</div>
