<!DOCTYPE html>
<html lang="en">
<head>
	<title>Niner Connections</title>
	<% include partials/meta.ejs %>
	<!--<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/styles/styles.css" type="text/css">
	<link rel="stylesheet" href="../assets/styles/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">-->
</head>
<body>

	<div class="fullHeight">
		<% include partials/header.ejs%>

	<!--	<div class="header">


			<a href="./index.html">
				<img id="image1" src="./image4.jpg" alt="brand image placeholder" />Niner Connections
			</a>

				<span class="signInPlaceholder">
					<a href="#">Start New Connection</a>
					<a href="./savedConnections.html">Sign Up</a>
					<a href="./savedConnections.html">Login</a>
				</span>
</div>-->
<% include partials/navigation.ejs%>
		<!--<div class="topnav">
			<a href="./connections.html">Connections</a>

		</div> -->
		<div class="row fullHeight">

			<div class="column right fullHeight background2 fullWidth">

				<div class="maincontentConnections">
					<p>Welcome to About page </p><br>
					<p>The goal of the website is to increase awareness and compassion amongst students at the school and University levels by conducting various seminars and training sessions on animals </p>
				</div>
			</div>
		</div>
		<% include partials/footer.ejs%>
		<!--<div class="footer">
			&copy; CCI Connections.
			&nbsp;&nbsp;&nbsp;<a href="#"> About</a>
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>

			<i class="footerIcons fa fa-facebook-f"></i>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>

		</div>-->
	</div>
</body>
</html>
