<!DOCTYPE html>
<html lang="en">
<head>
	<title>Niner Connections</title>
	<%include partials/meta.ejs%>
<!--	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>

	<div class="fullHeight">
		<%include partials/header.ejs %>
		<!--<div class="header">



			<a href="./index.html">
				<img id="image1" src="./image4.jpg" alt="brand image placeholder" />Niner Connections
			</a>

			<span class="signInPlaceholder">
				<a href="#">Start New Connection</a>
				<a href="./savedConnections.html">Sign Up</a>
				<a href="./savedConnections.html">Login</a>
			</span>
		</div> -->
<%include partials/navigation.ejs %>
		<!--<div class="topnav">
			<a href="./connections.html">Connections</a>

		</div> -->
		<div class="row fullHeight">

			<div class="column right fullHeight background2 fullWidth">

				<div class="listConnections">
						<% var categories=[];

						qs.forEach(function(game){
						  if(!categories.includes(game.connection_topic)){
							  categories.push(game.connection_topic)
						  }
				  });

						  for(var s in categories){
								  %>
								  <h3><%=categories[s]%></h3>
							  <%qs.forEach(function(game){
									  if(game.connection_topic===categories[s]){
										  %>
										  <a href="/connection?connection_ID=<%=game.connection_ID%>"><%=game.connection_name%></a><br/><br/>
						  <%}

					  });
				  }

							  %>




				</div>
			</div>
		</div>
		<% include partials/footer.ejs %>
		<!--<div class="footer">
			&copy; CCI Connections.
			&nbsp;&nbsp;&nbsp;<a href="#">About</a>
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>

			<i class="footerIcons fa fa-facebook-f"></i>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>

		</div>-->
	</div>
</body>
</html>
